
.foot li {
    padding: 5px;
}

.foot > ul > li:hover {
    text-decoration: overline;
    cursor: pointer;
}

.foot a:hover {
    text-decoration: overline;
    cursor: pointer;
}

.foot > img:hover {
    transform: translateX(30px);
    transition: 2s;
}